<span class="product-label product-label--meta">
  {%- if product.metafields.my_fields.promotional_label != blank -%}
  <span>{{ product.metafields.my_fields.promotional_label | escape }}</span>
  {%- endif -%}
  {%- if product.metafields.my_fields.promotional_label2 != blank -%}
  <span style="background-color:{{ product.metafields.my_fields.promotional_label2_bg_colour }}; color:{{ product.metafields.my_fields.promotional_label2_txt_colour }};">VVV {{ product.metafields.my_fields.promotional_label2 | escape }}</span>
  {%- endif -%}
</span>